.gif{
    width: 220px;
    height: 220px;
    padding:10px;
}
.error{
    width: 70%;
   
    color: red;
    margin: 20px auto;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    background: yellow;
    border-radius: 10px;
}